{
  "presets": [["env", {
      "modules": false
    }], "stage-2", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "syntax-dynamic-import",
    "lodash"
  ],

  "env": {
    "development": {
      "plugins": [
        ["styled-components", {
          "displayName": true,
          "preprocess": false
        }]
      ]
    },

    "production": {
      "plugins": [
        ["styled-components", {
          "displayName": false,
          "preprocess": false
        }]
      ]
    },

    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
